[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

dj-database-url = "*"
pyyaml = "*"
django-spaghetti-and-meatballs = "*"
waitress = "*"
whitenoise = "*"
python-decouple = "*"
honcho = "*"
"django-data-importer-0.0.1c" = {git = "https://github.com/LegoStormtroopr/django-data-importer", ref = "0.0.1c"}
django-model-utils = "*"
django = "==1.11.11"


[dev-packages]

